<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".intro_1" %>
  <%= link_to t(".rails_help"), Settings.url.railstutorial_help %>
  <%= t ".intro_2" %>
  <%= link_to t(".rails_book"), Settings.url.railstutorial_book %>
  <%= t ".intro_3" %>
</p>
