<footer class="footer">
  <small>
    <%= t ".intro_1" %>
    <%= link_to t(".rails_tutorial"), Settings.url.rail_stutorial %>
    <%= t ".intro_2" %>
    <%= link_to t(".michael_hartl"), Settings.url.michael_hartl %>
  </small>

  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
    </ul>
  </nav>
</footer>
